.App {
  text-align: center;
  height: 100%;
  width: 100%;
}

body{
  box-sizing: border-box;
  background-color: #F2E9E4;
}

#top-bar{
  display: flex;
  justify-content: space-around;
}

#logo{
  margin: 1%;
  height: 5%;
  width: 5%;
  float: left;
  display: inline;
}

#searchString{
  margin-top: 3%;
  width: 50%;
  height: 50%;
}

#login-button{
  margin-top: 100%;
  justify-content: flex-end;
}

#preview{
  box-sizing: border-box;
}

#page-bar{
  justify-content:center;
}

.table {
  margin: 0 auto;
  text-align: left;
}
