#chat-box {
    background-color: rgb(154, 140, 152, 0.8);
    justify-content: flex-end;
    display:flexbox;
    flex-direction: column;
    overflow: scroll;
}

#close-logo {
    width: 7%;
    height: 7%;
    opacity: 0.8;
}

#message-type{
    width: 70%;
    height: 10%;
}

#message-record{
    width: 80%;
    height: 75%;
}

.past-message {
    background-color: #4a4e69;
    margin-bottom: 2px;
    padding: 5px;
    border-radius: 5px;
}

.system-response {
    background-color: rgb(3242,233,228, 0.9);
    margin-bottom: 2px;
    padding: 5px;
    border-radius: 5px;
    color: #4a4e69;
}

#message-box {
    width: 80%;
    height: 7%;
    margin-top: auto;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-right: 10px;
    align-self: flex-end;
}

#send-logo {
    cursor: pointer;
    width: 30px;
    height: 30px;
    align-self: flex-end;
    opacity: 0.8;
    margin-top: auto;
}